/* Coolors Exported Palette - coolors.co/29002a-ceff3a-93ffff-262f39-0f0f10 */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px; }

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s; }

input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s; }

input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196; }

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px; }

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: ""; }

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s; }

input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196; }

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196; }

.ui-slider {
  position: relative;
  height: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #ebedef;
  border-radius: 32px;
  box-shadow: none; }

.ui-slider-handle {
  background-color: #16a085;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 2;
  -webkit-transition: background 0.25s; }

.ui-slider-handle:hover, .ui-slider-handle:focus {
  background-color: #48c9b0;
  outline: none; }

.ui-slider-handle:active {
  background-color: #16a085; }

.ui-slider-range {
  background-color: #1abc9c;
  display: block;
  height: 100%;
  position: absolute;
  z-index: 1; }

.ui-slider-segment {
  background-color: #d9dbdd;
  border-radius: 50%;
  height: 6px;
  width: 6px; }

.ui-slider-value {
  float: right;
  font-size: 13px;
  margin-top: 12px; }

.ui-slider-value.first {
  clear: left;
  float: left; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -9px;
  top: -3px; }

.ui-slider-horizontal .ui-slider-handle[style*="100"] {
  margin-left: -15px; }

.ui-slider-horizontal .ui-slider-range {
  border-radius: 30px 0 0 30px; }

.ui-slider-horizontal .ui-slider-segment {
  float: left;
  margin: 3px -6px 0 0; }

.ui-slider-vertical {
  width: 12px; }

.ui-slider-vertical .ui-slider-handle {
  margin-left: -3px;
  margin-bottom: -11px;
  top: auto; }

.ui-slider-vertical .ui-slider-range {
  width: 100%;
  bottom: 0;
  border-radius: 0 0 30px 30px; }

.ui-slider-vertical .ui-slider-segment {
  position: absolute;
  right: 3px; }

.slider {
  margin: 60px 20px 0 20px; }

.slider .tooltip {
  opacity: 100;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  /* add your prefixes as required */ }

/* Tooltips */
.control-label > a.icon.icon-info:hover {
  text-decoration: none; }

a.icon.info {
  color: #0F979B; }

.tooltip-anchor {
  font-size: 1.22em;
  text-decoration: none !important;
  color: #666666;
  vertical-align: middle; }

.tooltip-anchor:before {
  margin-top: 30px; }

.tooltip-anchor:hover, .tooltip-anchor:focus {
  color: #333333; }

.tooltip-inner {
  max-width: 200px;
  padding: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #254351;
  border-radius: 0px;
  font-size: 1.2em;
  word-wrap: break-word; }

.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -10px; }

.tooltip.top .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #254351; }

.form-horizontal .panel-group .radio .tooltip-anchor {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 1000; }

/* Tooltips */
.control-label > a.icon.icon-info:hover {
  text-decoration: none; }

a.icon.info {
  color: #0F979B; }

.tooltip-anchor {
  font-size: 1.22em;
  text-decoration: none !important;
  color: #666666;
  vertical-align: middle; }

.tooltip-anchor:before {
  margin-top: 30px; }

.tooltip-anchor:hover, .tooltip-anchor:focus {
  color: #333333; }

.tooltip-inner {
  max-width: 200px;
  padding: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #254351;
  border-radius: 0px;
  font-size: 1.2em;
  word-wrap: break-word; }

.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -10px; }

.tooltip.top .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #254351; }

body {
  color: black; }

.spacer {
  background-color: pink;
  min-height: 500px; }

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2); }

strong {
  color: #29002a; }

h1 {
  color: #ceff3a; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none; }

#bsInput {
  margin-top: 40px; }

.space {
  min-height: 50px; }
